node_modules/
android/.gradle/
android/app/build/
android/build/
android/capacitor-cordova-android-plugins/build/
android/local.properties
android/.idea/
.idea/
*.iml
.DS_Store
*.log

android/app/keystore/
android/app/keystore.properties
*.jks
RuSamaraWave-*.apk
RuSamaraWave-*.aab
veilwave-*.apk

_crack/

